@model DuLich.Models.EF.Anh

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Anh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenAnhDM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenAnhDM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anh1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anh1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anh2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anh2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anh3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anh3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anh4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anh4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anh5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anh5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anh6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anh6)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDAnh }) |
    @Html.ActionLink("Back to List", "Index")
</p>
