@model IEnumerable<DuLich.Models.EF.NguoiDung>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenNguoiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>item</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <th>
        @Html.DisplayFor(modelItem  => item.TenNguoiDung)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.TenNguoiDung }) |
        @Html.ActionLink("Details", "Details", new { id = item.TenNguoiDung }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.TenNguoiDung })
    </td>
</tr>
}

</table>
